section#bottom-list {
  min-height: 20vh;
  width: 100%;
  position: relative;
  top: 35vh;
  ul {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      a {
        font-size: 1.2rem;
        color: $color-black;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        margin: 0 1rem;
        padding: 1rem 2rem;
        transition: 1s color;
        &:hover{
            color: $color-likeblue;
        }
      }
    }
  }
}


@media (max-width: 576px){
  section#bottom-list{
    display: none;
  }
}