$color-white: #fff;
$color-black: #000;
$color-likeblue: #196fc2;
$color-likeblue3: #3e64ff;
$color-likecrimson: #ec5b53;
$ddd: #ddd;
$lightblue: lightblue;
$lightgray: lightgray;
$orange: orange;
$a666: #666;
$a999: #999;